.recipe-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.recipe-source {
    color: darkgray;
    text-align: right;
    margin-top: 2em;
}

.recipe-source a {
    color: darkgray;
}

.ingredients {
    grid-column-start: 1;
    grid-column-end: 1;
}

.ingredient-list {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-row-gap: 0.3em;
    margin: 0.3em 0;
}


.ingredient-list .qty {
    grid-column-start: 2;
}

.ingredient-list .name {
    grid-column-start: 3;
}

.directions {
    grid-column-start: 2;
    grid-column-end: 2;
}

.directions li {
    padding: 0 0.3em;
}
