# Ignore to-be-generated tags and tag feeds
/_tags
/_feeds
!/_tags/.keep
!/_feeds/.keep

# Ignore site build
_site

# Ignore caches
.sass-cache
.jekyll-cache
.jekyll-metadata

# macOS...
.DS_Store

# Ignore version file
_includes/version

# Ignore environment normalization destinations
vendor/bundle