<footer class="site-footer">
  <div class="inner">
    The content for this site is <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA</a>. The
    <a href="https://github.com/prplecake/jrgnsn.net" id="ext-link-repo">code</a> for this site is
    <a href="https://opensource.org/licenses/MIT/">MIT</a>. Current version: <a href="https://github.com/prplecake/jrgnsn.net/commit/{%- include version -%}" id="ext-link-commit-hash">{%- include version -%}</a>
  </div>
</footer>
