<div class="external-links">
  <p>
    <span class="context">sourcehut</span>
    <a href="https://git.sr.ht/~mjorgensen">~mjorgensen</a>
  </p>
  <p>
    <span class="context">github</span>
    <a href="https://github.com">mtthwjrgnsn</a>
  </p>
  <p>
    <span class="context">instagram</span>
    <a href="https://instagram.com/matthewjorgensen">matthewjorgensen</a>
  </p>
  <p>
    <span class="context">mastodon</span>
    <a href="https://splat.soy/@AstroBadger">@AstroBadger@splat.soy</a>
  </p>
  <p>
    <span class="context">email</span>
    <a href="mailto:matthew@jrgnsn.net">matthew@jrgnsn.net</a>
  </p>
</div>