<div class="external-links">
  <p>
    <span class="context">sourcehut</span>
    <a href="https://git.sr.ht/~mjorgensen">~mjorgensen</a>
  </p>
  <p>
    <span class="context">fediverse</span>
    <a rel="me" href="https://jrgnsn.social/matthew">matthew@jrgnsn.social</a>
  </p>
  <p>
    <span class="context">instagram</span>
    <a href="https://instagram.com/matthewjorgensen">matthewjorgensen</a>
  </p>
  <p>
    <span class="context">email</span>
    <a href="mailto:matthew@jrgnsn.net">matthew@jrgnsn.net</a>
  </p>
  <p>
    <span class="context">pgp</span>
    <a href="/publickey.txt">5C3C 6C19 379A 53AC</a>
  </p>
  <p class="text-muted">
    <a href="/find" style="color:#757575" target="_self">more</a>
  </p>
</div>
