@page "/tags"

<PageTitle>Tags</PageTitle>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      @if (Loading)
      {
        <p>Loading...</p>
      }
      else
      {
        <ul>
          @foreach (var tag in TagList)
          {
            <li>
              <a href="@tag.Slug">@tag.Name</a>
              (@tag.PostCount posts)
            </li>
          }
        </ul>
      }
    </div>
  </div>
</div>