{{ if isset .Site.Params "externallinks" }}
<div class="external-links">
	{{ range .Site.Params.externalLinks }}
		{{ $isExternal := false }}
		{{ if not (strings.HasPrefix .url site.BaseURL) }}
			{{ $isExternal = true }}
		{{ end }}
		<p>
			<span class="context">{{ .name }}</span>
			<a href="{{ .url }}" id="{{ .id }}"
				 {{ if isset . "rel"  }}rel="{{ .rel }}"{{ end }}
				 {{ if $isExternal }}target="_blank"{{ end }}
			>{{ .displayText }}</a>
		</p>
	{{ end }}
	{{  if fileExists "content/find.md" }}
	<p class="text-muted">
		<a href="/find" id="link-more">more</a>
	</p>
	{{ end }}
</div>
{{ end }}