<div class="widgets">
	<div class="widget-column-1">
      {{ partial "author-bio.html" . }}
	</div>
	<div class="widget-column-2">
      {{ partial "external-links.html" . }}

		<div class="site-footer">
			<div class="inner">
          {{ if isset .Site.Params "footertext" }}
              {{ .Site.Params.footerText | markdownify }}
          {{ else }}
						<p>Copyright {{ now.Year }}. All rights reserved.</p>
          {{ end }}
					{{ if .IsPage }}
          {{ if (eq .Site.Params.DisplayCommitHash true) }}
						{{ if isset .Site.Params "repourl" }}
							{{ $linkToCommit := (urls.JoinPath $.Site.Params.repoURL "/commit/" .GitInfo.AbbreviatedHash )}}
							Current version: <a href="{{ $linkToCommit }}" id="ext-link-commit-hash">{{ .GitInfo.AbbreviatedHash }}</a>
						{{ else }}
          		Current version: {{ .GitInfo.AbbreviatedHash }}
						{{ end }}
					{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</div>