---
layout: page
showTitle: true
---

{{ content }}

<p class="text-muted">
    Have a comment on one of my posts? Start a discussion in my
    <a href="https://lists.sr.ht/~mjorgensen/public-inbox">public inbox</a>
    by sending an email to
    <a href="mailto:~mjorgensen/public-inbox@lists.sr.ht?Subject=Re%3A%20{{ page.title | uri_escape }}">~mjorgensen/public-inbox@lists.sr.ht</a>
    <small style="padding-left: 2px">
    [<a href="https://man.sr.ht/lists.sr.ht/etiquette.md">mailing list ettiquette</a>]
    </small>
</p>
<hr />
{%- include webring_out.html -%}
